.button-container {
  width: 100%;
}
.button-component {
  width: 100%;
  background-color: var(--rose);
  border: 0;
  color: var(--base);
  padding: 10px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}

.button-component:hover {
  background-color: var(--gold);
  cursor: pointer;
}
.button-component:active {
  background-color: var(--iris);
}
