.textbox{
  background-color: var(--overlay);
  color: var(--text);
  resize: none;
  font-family: 'Montserrat', sans-serif;
  border: 0px;
  width: 100%;
}
.textbox:active {
  border: 0px;
}
.textbox:focus-visible {
  border: 0px;
  outline: none;
}
.textbox::placeholder{
  color: var(--rose)
}
.textbox-container {
  background-color: var(--overlay);
  border: 2px solid var(--rose);
  padding: 10px;

}

